@model IEnumerable<FossilRecordsProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>My Categories</h1>
<hr />
<div class="text-start"><a class="btn btn-primary w-10 mb-2" asp-action="Create">Create New Category</a></div>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (item.Contacts.Count != 0)
                    {
                        <a asp-action="EmailCategory" asp-route-id="@item.Id">Email</a> <span>|</span>
                    }
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts
{
    <script> 
        let message = '@(ViewBag.SwalMessage)';
        
        if(!message.includes('Error') && message != '')
        {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true,
            });
        } else if (message.includes('Error')){
            Swal.fire({
                 backdrop: false,
                 icon: 'error',
                 title: message,
            });

        }

    </script>
    }